.button {
  display: flex;
  align-items: center;
  height: 28px;
  border: none;
  border-radius: 3px;
  color: var(--mustard);
  background-color: var(--peachPink);
  font-family: 'Raleway', sans-serif;
  padding: 8px 18px 8px 18px;
}
