:root {
  --pink: #f2c6c2;
  --lightPink: #f2e8df;
  --peachPink: #f28585;
  --mustard: #f2b263;
  --sage: #86a69d;
}

body {
  --background-color: var(--pink);
  background-color: var(--background-color);
  --color: var(--pink);
  color: var(--color);
}
